In [1]:
import pandas as pd
import pymysql

In [5]:
conn = pymysql.connect(host='127.0.0.1',user='root',password='1234',db='code_test',charset='utf8')

In [6]:
cursor=conn.cursor()

In [11]:
sql = 'SELECT * FROM member_info;'
cursor.execute(sql)
member_info = cursor.fetchall()

In [12]:
member_info=pd.DataFrame(member_info,columns=['id','password','name'])
member_info

     id password  name
0  a001  a001_pw  테스터1
1  b001  b001_pw  테스터2
2  c001  c001_pw  테스터1

In [19]:
member_info[member_info['id'].isin(['a001']) & member_info['name'].isin(['테스터1'])]

     id password  name
0  a001  a001_pw  테스터1

In [38]:
data_dict=member_info.to_dict('list')

In [39]:
data_dict

{'id': ['a001', 'b001', 'c001'],
 'password': ['a001_pw', 'b001_pw', 'c001_pw'],
 'name': ['테스터1', '테스터2', '테스터1']}

In [37]:
print(data_dict.get('id'))

['a001', 'b001', 'c001']