In [1]:
import pandas as pd
import numpy as np
import time
import re
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.common.keys import Keys 
from selenium.common.exceptions import NoSuchElementException
from bs4 import BeautifulSoup
import warnings
warnings.filterwarnings('ignore')

In [2]:
df = pd.read_csv('./data_tour/관광지명칭.csv',encoding='utf-8')

In [3]:
options = webdriver.ChromeOptions()
options.add_experimental_option('excludeSwitches', ['enable-logging'])
wd = webdriver.Chrome('./chromedriver.exe', options=options)

In [4]:
name  = df['명칭'].tolist()

In [5]:
# 링크로 바로 들어가지는 경우
wd.get(f'https://map.naver.com/v5/search/{name[0]}=14377346.8495072,4186044.6333144,15,0,0,0,dh')

In [6]:
wd.switch_to.frame('entryIframe')

In [7]:
a = wd.find_elements(By.CSS_SELECTOR,'a.place_bluelink')

In [8]:
a[0].text

'방문자리뷰 6'

In [9]:
a[1].text

'블로그리뷰 243'

In [10]:
options = webdriver.ChromeOptions()
options.add_experimental_option('excludeSwitches', ['enable-logging'])
wd = webdriver.Chrome('./chromedriver.exe', options=options)

In [11]:
# 링크로 바로 안들어가지는 경우
wd.get(f'https://map.naver.com/v5/search/BEXCO=14377346.8495072,4186044.6333144,15,0,0,0,dh')

In [12]:
# 먼저 검색실시
wd.switch_to.frame('searchIframe')

In [13]:
wd.find_element(By.XPATH,'//*[@id="_pcmap_list_scroll_container"]/ul/li[1]/div[2]/a[1]/div/div/span[1]').click()

In [14]:
# 새로운 프레임으로 들어가기위해서 먼저 빠져 나와야함
wd.switch_to.default_content()

In [15]:
wd.switch_to.frame('entryIframe')

In [16]:
a = wd.find_elements(By.CSS_SELECTOR,'a.place_bluelink')

In [17]:
a[0].text

'방문자리뷰 3,882'

In [18]:
a[1].text

'블로그리뷰 14,145'

In [6]:
pd.read_csv('./data_tour/리뷰건수.csv',encoding='utf-8')

     Unnamed: 0                                             review
0             0  [<span class="PXMot"><a class="place_bluelink"...
1             1  [<span class="PXMot LXIwF"><svg aria-hidden="t...
2             2  [<span class="PXMot LXIwF"><svg aria-hidden="t...
3             3  [<span class="PXMot LXIwF"><svg aria-hidden="t...
4             4  [<span class="PXMot"><a class="place_bluelink"...
..          ...                                                ...
266         266  [<span class="PXMot"><a class="place_bluelink"...
267         267  [<span class="PXMot"><a class="place_bluelink"...
268         268  [<span class="PXMot LXIwF"><svg aria-hidden="t...
269         269  [<span class="PXMot LXIwF"><svg aria-hidden="t...
270         270  [<span class="PXMot"><a class="place_bluelink"...

[271 rows x 2 columns]

In [59]:
df = pd.read_excel('./data_tour/리뷰건수.xlsx')

In [60]:
df.isna().sum()

관광지        0
별점       325
방문자리뷰    260
블로그리뷰    174
dtype: int64

In [61]:
df=df.fillna(0)

In [62]:
df

                             관광지        별점   방문자리뷰   블로그리뷰
0          관광지 : 0 / 440 부산어촌민속관         0     6.0   243.0
1           관광지 : 1 / 440 부산문화회관   별점4.5/5   339.0  2209.0
2           관광지 : 2 / 440 부산시민회관  별점4.59/5    57.0   815.0
3         관광지 : 3 / 440 부산 가톨릭센터  별점4.25/5    38.0    53.0
4     관광지 : 4 / 440 장기려기념 더 나눔센터         0     0.0    20.0
..                           ...       ...     ...     ...
435         관광지 : 435 / 440 혜원정사         0     0.0     5.0
436        관광지 : 436 / 440 조방해수탕  별점4.44/5   131.0    13.0
437    관광지 : 437 / 440 스파랜드 센텀시티  별점4.54/5  7758.0  1007.0
438  관광지 : 438 / 440 다대포 꿈의 낙조분수         0     0.0     0.0
439     관광지 : 439 / 440 내원정사(부산)         0     0.0   165.0

[440 rows x 4 columns]

In [63]:
df['관광지']=df['관광지'].str[13:]

In [73]:
df['관광지']=[re.sub('[^A-Za-z가-힣]', '', s) for s in df['관광지']]

In [74]:
df

            관광지        별점   방문자리뷰   블로그리뷰
0       부산어촌민속관         0     6.0   243.0
1        부산문화회관   별점4.5/5   339.0  2209.0
2        부산시민회관  별점4.59/5    57.0   815.0
3       부산가톨릭센터  별점4.25/5    38.0    53.0
4    장기려기념더나눔센터         0     0.0    20.0
..          ...       ...     ...     ...
435        혜원정사         0     0.0     5.0
436       조방해수탕  별점4.44/5   131.0    13.0
437    스파랜드센텀시티  별점4.54/5  7758.0  1007.0
438   다대포꿈의낙조분수         0     0.0     0.0
439      내원정사부산         0     0.0   165.0

[440 rows x 4 columns]

In [76]:
df['방문자리뷰']=df['방문자리뷰'].astype(int)

In [77]:
df['블로그리뷰']=df['블로그리뷰'].astype(int)

In [87]:
df

            관광지        별점  방문자리뷰  블로그리뷰
0       부산어촌민속관         0      6    243
1        부산문화회관   별점4.5/5    339   2209
2        부산시민회관  별점4.59/5     57    815
3       부산가톨릭센터  별점4.25/5     38     53
4    장기려기념더나눔센터         0      0     20
..          ...       ...    ...    ...
435        혜원정사         0      0      5
436       조방해수탕  별점4.44/5    131     13
437    스파랜드센텀시티  별점4.54/5   7758   1007
438   다대포꿈의낙조분수         0      0      0
439      내원정사부산         0      0    165

[440 rows x 4 columns]

In [86]:
df.to_csv('./data_tour/관광지_리뷰.csv',encoding='utf-8',index=False)